body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: flex-start;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* @media screen and (min-width:100px) and (max-width:1024px) {

} */
